.common-title-container .common-title h2:after {
    position: absolute;
    content: '';
    right: -65px;
    bottom: 15px;
    width: 50px;
    height: 2px;
   
    background-color: #ee0d09;
}

.common-title-container .common-title h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.4em;
    display: inline-block;
   
}


